<template>
  <b-container fluid class="p-5 bg-">
    <div>
      <sidebar-menu />
      <b-card>
        <div>
          <h2>ข้อมูลห้อง</h2>
          <b-row>
            <b-col>
              <b-img
                thumbnail
                fluid
                src="https://omgthanapoom.com/wp-content/uploads/2018/01/MG_4741.jpg"
                alt="Image 1"
                width="550"
                height="550"
              >
                ></b-img
              >
            </b-col>

            <b-col>
              <b-row>
                <b-form-group label="ชื่อห้อง :">
                  <b-form-input
                    v-model="form.NameRoom"
                    disabled
                    id="inline-form-input-name"
                    class="mb-2 mr-sm-2 mb-sm-0"
                  ></b-form-input>
                </b-form-group>
              </b-row>
              <b-row>
                <b-form-group label="คณะ :">
                  <b-form-input
                    v-model="form.building"
                    disabled
                    id="inline-form-input-building"
                    class="mb-2 mr-sm-2 mb-sm-0"
                  ></b-form-input>
                </b-form-group>
              </b-row>
              <b-row>
                <b-form-group label="ชั้น :">
                  <b-form-input
                    v-model="form.floor"
                    disabled
                    id="inline-form-input-floor"
                    class="mb-2 mr-sm-2 mb-sm-0"
                  ></b-form-input>
                </b-form-group>
              </b-row>
              <b-row>
                <b-form-group label="รองรับ :">
                  <b-form-input
                    v-model="form.capacity"
                    disabled
                    id="inline-form-input-capacity"
                    class="mb-2 mr-sm-2 mb-sm-0"
                  ></b-form-input>
                </b-form-group>
              </b-row>
            </b-col>
          </b-row>
        </div>
        <div>
          <div class="mt-3">
            <b-row>
              <b-col>
                <!-- row 3 col 1 -->
                <label for="start-date">วันที่เริ่มต้น</label>
                <b-form-datepicker
                  id="start-date"
                  v-model="form.startDate"
                  class="mb-2"
                  locale="th"
                ></b-form-datepicker>
              </b-col>
              <b-col>
                <!-- row 3 col 2 -->
                <label for="start-time">เวลาเริ่มต้น</label>
                <b-form-timepicker
                  id="start-time"
                  v-model="form.startTime"
                  locale="th"
                ></b-form-timepicker>
              </b-col>
            </b-row>
            <b-row>
              <b-col>
                <label for="end-date">วันที่สิ้นสุด</label>
                <b-form-datepicker
                  id="end-date"
                  v-model="form.endDate"
                  class="mb-2"
                  locale="th"
                ></b-form-datepicker>
              </b-col>
              <b-col>
                <label for="end-time">เวลาสิ้นสุด</label>
                <b-form-timepicker
                  id="end-time"
                  v-model="form.endTime"
                  locale="th"
                ></b-form-timepicker>
              </b-col>
            </b-row>
          </div>
          <br />
          <h2>ข้อมูลสมาชิก</h2>
          <div class="mt-3">
            <b-row>
              <b-col>
                <b-form-group label="ชื่อผู้ใช้ :">
                  <b-form-input
                    v-model="form.Username"
                    disabled
                    id="inline-form-input-Username"
                    class="mb-2 mr-sm-2 mb-sm-0"
                  ></b-form-input>
                </b-form-group>
              </b-col>
              <b-col> </b-col>
            </b-row>
          </div>
          <div class="mt-3">
            <b-row>
              <b-col>
                <b-form-group label="ชื่อ-นามสกุล :">
                  <b-form-input
                    v-model="form.User"
                    disabled
                    id="inline-form-input-User"
                    class="mb-2 mr-sm-2 mb-sm-0"
                  ></b-form-input>
                </b-form-group>
              </b-col>
              <b-col> </b-col>
            </b-row>
          </div>

          <br />
          <h2>ข้อมูลการจองห้อง</h2>

            <b-row>
              <b-col>
                <b-form-group label="วัตถุประสงค์การจอง :">
                  <b-form-input
                    v-model="form.formDoc"
                    id="inline-form-input-formDoc"
                    class="mb-2 mr-sm-2 mb-sm-0"
                  ></b-form-input>
                </b-form-group>
              </b-col>
              <b-col> </b-col>
            </b-row>
            <b-row>
              <b-col>
                <b-form-group label="อุปกรณ์ :" v-slot="{ ariaDescribedby }">
                  <b-form-checkbox
                    v-for="option in options"
                    v-model="form.selected"
                    :key="option.value"
                    :value="option.value"
                    :aria-describedby="ariaDescribedby"
                    name="flavour-3a"
                    >&nbsp;
                    {{ option.text }}
                  </b-form-checkbox>
                </b-form-group>
              </b-col>
              <b-col></b-col>
            </b-row>

          <v-form>
            <div>
              <b-row align="right">
                <b-col class="text-right">
                  <b-button
                    router-link
                    to="/search"
                    pill
                    variant="primary"
                    type="submit"
                    @click="addRoomReservationForms"
                    >ยืนยัน</b-button
                  >
                  &nbsp;
                  <b-button
                    router-link
                    to="/search"
                    pill
                    variant="danger"
                    type="reset"
                    >ยกเลิก</b-button
                  >
                </b-col>
              </b-row>
              <pre> {{ form }}</pre>
            </div>
          </v-form>
        </div>
      </b-card>
    </div>
  </b-container>
</template>
<script>
import SidebarMenu from '../components/Sidebar-menu.vue'
import { getUser } from '../service/user'
import { getRooms } from '../service/room'
import { addRoomReservationForms } from '../service/roomreservationform'

import 'vue-cal/dist/vuecal.css'
import th from '../locale/th'

export default {
  data () {
    return {
      options: [
        { text: 'เก้าอี้', value: 'CHAIR' },
        { text: 'โต๊ะ', value: 'TABLE' },
        { text: 'รีโมทนำเสนอ', value: 'PRESENTER' },
        { text: 'โทรทัศน์', value: 'TV' },
        { text: 'เครื่องฉายภาพบนผนัง', value: 'OHP' },
        { text: 'เครื่องฉายภาพ', value: 'PROJECTOR' },
        { text: 'คอมพิวเตอร์', value: 'COMPUTER' }
      ],
      form: {
        selected: [],
        RoomId: '',
        NameRoom: '',
        capacity: '',
        floor: '',
        User: '',
        formDoc: '',
        Username: '',
        IDUser: '',
        building: '',
        startDate: '',
        startTime: '',
        endDate: '',
        endTime: '',
        listApprover: ''
      }
    }
  },
  name: 'Booking',
  components: {
    SidebarMenu
  },
  methods: {
    getUser () {
      const userid = JSON.parse(localStorage.getItem('user'))
      getUser(userid._id).then((Response) => {
        console.log('User ID : ' + userid._id)
        this.form.IDUser = Response.data
        this.form.User = Response.data.name + ' ' + Response.data.surname
        this.form.Username = Response.data.username
        console.log(this.form.User)
      })
    },
    getRooms () {
      const roomid = localStorage.getItem('roomId')
      getRooms(roomid).then((Response) => {
        console.log('Room ID : ' + roomid)
        console.log(Response.data)

        this.form.RoomId = Response.data
        this.form.floor = Response.data.floor
        this.form.NameRoom = Response.data.name
        this.form.capacity = Response.data.capacity
        this.form.building = Response.data.building[0].name
        this.form.listApprover = Response.data.Approver[0]._id
      })
    },
    addRoomReservationForms () {
      if (this.form.endDate >= this.form.startDate) {
        addRoomReservationForms(this.form)
      } else {
        alert('สภาพ!!!! จองวันในอดีตหรอ')
      }
    }

  },
  mounted () {
    this.getUser()
    this.getRooms()
  },
  computed: {
    th () {
      return th
    }

  }
}
</script>
<style></style>
