<template>
  <div>
    <sidebar-menu />
    <Card />
  </div>
</template>
<script>
// @ is an alias to /src
import SidebarMenu from '../components/Sidebar-menu.vue'
import Card from '../views/Booking.vue'

export default {
  name: 'Search',
  components: {
    SidebarMenu,
    Card
  },
  computed: {
    isLogin () {
      return this.$store.getters['auth/isLogin']
    }
  }
}
</script>
