<template>
  <div class="home">
    <sidebar-menu />
    <Search />
  </div>
</template>

<script>
// @ is an alias to /src
import Search from '../views/Search.vue'

export default {
  name: 'Home',
  components: {
    Search
  },
  computed: {
    isLogin () {
      return this.$store.getters['auth/isLogin']
    }
  }
}
</script>
