<template>
  <div>
    <sidebar-menu />
  </div>
</template>
<script>
import SidebarMenu from '../components/Sidebar-menu.vue'
export default {
  name: 'Search',
  components: {
    SidebarMenu
  }
}
</script>
<style></style>
