<template>
  <b-container>
    <div>
      <b-card class="text-left">
        <sidebar-menu />
        <DatePicker />
        <b-row align-h="center">
          <b-button router-link to="/click to reserve" block type="submit" variant="primary" class="m-3"
            >ค้นหา</b-button>
        </b-row>
      </b-card>
    </div>
  </b-container>
</template>
<script>
// @ is an alias to /src
import SidebarMenu from '../components/Sidebar-menu.vue'
import DatePicker from '../components/CalendarView.vue'

export default {
  name: 'Search',
  components: {
    SidebarMenu,
    DatePicker
  },
  computed: {
    isLogin () {
      return this.$store.getters['auth/isLogin']
    }
  }
}
</script>
