<template>
  <b-container>
    <div>
      <b-card class="text-left">
        <sidebar-menu />
        <status />
      </b-card>
    </div>
  </b-container>
</template>
<script>
// @ is an alias to /src
import SidebarMenu from '../components/Sidebar-menu.vue'
import status from '../components/ViewStatus.vue'

export default {
  name: 'Search',
  components: {
    SidebarMenu,
    status
  },
  computed: {
    isLogin () {
      return this.$store.getters['auth/isLogin']
    }
  }
}
</script>
