<template>
  <div>
    <b-container fluid>
      <sidebar-menu />
      <b-row>
        <b-col>
          <b-table :items="productItems" :fields="fields">
            <template #cell(btn-edit)="{ }">
              <!-- <b-button pill variant="primary" @click="editProduct(item)">แก้ไขข้อมูล</b-button> -->
              <div>
    <b-button id="show-btn" @click="showModal" pill variant="primary">แก้ไข</b-button>
    <b-modal ref="my-modal" hide-footer title="ข้อมูล">
      <div>
        <b-container>
          <b-row>
            <b-col>
              <b-form-group
                label-cols="5"
                label-cols-lg="3"
                label-size="sm"
                label="ชื่อห้อง/ตึก"
                label-for="input-sm"
              >
                <b-form-input id="input-sm" size="sm"></b-form-input>
              </b-form-group>
              <b-form-group
                label-cols="5"
                label-cols-lg="3"
                label-size="sm"
                label="ประเภทห้อง"
                label-for="input-sm"
              >
                <b-form-input id="input-sm" size="sm"></b-form-input>
              </b-form-group>
            </b-col>
          </b-row>
          <b-row>
            <b-col>
              <b-form-group
                label-cols="5"
                label-cols-lg="3"
                label-size="sm"
                label="จำนวนสมาชิกรองรับได้"
                label-for="input-sm"
              >
                <b-form-input id="input-sm" size="sm"></b-form-input>
              </b-form-group>
            </b-col>
          </b-row>
          <b-row>
            <b-col>
              <b-form-group
                label-cols="5"
                label-cols-lg="3"
                label-size="sm"
                label="อุปกรณ์ใช้งานภายให้ห้อง"
                label-for="input-sm"
              >
                <b-form-input id="input-sm" size="sm"></b-form-input>
              </b-form-group>
            </b-col>
          </b-row>
          <v-form>
        <div>
      <b-row align="right">
        <b-col >
      <b-button class="mt-3" variant="success" block @click="hideModal"
        >ยืนยัน</b-button
      >
      <b-button
        class="mt-3"
        variant="danger"
        block
        @click="toggleModal"
        >ยกเลิก</b-button
      >
      </b-col>
      </b-row>
        </div>
      </v-form>
        </b-container>
      </div>
    </b-modal>
  </div>
            </template>
            <template #cell(btn-delete)="{ item }">
              <b-button pill variant="danger" @click="deleteProduct(item)"
                >ลบออกจากรายการ</b-button
              >
            </template>
          </b-table>
        </b-col>
      </b-row>
    </b-container>
     <b-row align="right">
        <b-col>
          <div>
    <b-button id="show-btn" @click="showModal" pill variant="success">เพิ่มข้อมูล</b-button>

    <b-modal ref="my-modal" hide-footer title="ข้อมูล">
      <div>
        <b-container>
          <b-row>
            <b-col>
              <b-form-group
                label-cols="5"
                label-cols-lg="3"
                label-size="sm"
                label="ชื่อห้อง/ตึก"
                label-for="input-sm"
              >
                <b-form-input id="input-sm" size="sm"></b-form-input>
              </b-form-group>
              <b-form-group
                label-cols="5"
                label-cols-lg="3"
                label-size="sm"
                label="ประเภทห้อง"
                label-for="input-sm"
              >
                <b-form-input id="input-sm" size="sm"></b-form-input>
              </b-form-group>
            </b-col>
          </b-row>
          <b-row>
            <b-col>
              <b-form-group
                label-cols="5"
                label-cols-lg="3"
                label-size="sm"
                label="จำนวนสมาชิกรองรับได้"
                label-for="input-sm"
              >
                <b-form-input id="input-sm" size="sm"></b-form-input>
              </b-form-group>
            </b-col>
          </b-row>
          <b-row>
            <b-col>
              <b-form-group
                label-cols="5"
                label-cols-lg="3"
                label-size="sm"
                label="อุปกรณ์ใช้งานภายให้ห้อง"
                label-for="input-sm"
              >
                <b-form-input id="input-sm" size="sm"></b-form-input>
              </b-form-group>
            </b-col>
          </b-row>
          <v-form>
        <div>
      <b-row align="right">
        <b-col >
      <b-button class="mt-3" variant="primary" block @click="hideModal"
        >ยืนยัน</b-button
      >
      <b-button
        class="mt-3"
        variant="danger"
        block
        @click="toggleModal"
        >ยกเลิก</b-button
      >
      </b-col>
      </b-row>
        </div>
      </v-form>
        </b-container>
      </div>
    </b-modal>
  </div>
        </b-col>
      </b-row>
  </div>
</template>
<script>
export default {
  methods: {
    showModal () {
      this.$refs['my-modal'].show()
    },
    hideModal () {
      this.$refs['my-modal'].hide()
    },
    toggleModal () {
      // We pass the ID of the button that we want to return focus to
      // when the modal has hidden
      this.$refs['my-modal'].toggle('#toggle-btn')
    }
  },
  data () {
    return {
      fields: [
        { key: 'name_room', label: 'ชื่อห้อง/ตึก' },
        { key: 'type_room', label: 'ประเภทห้อง' },
        { key: 'num_member', label: 'จำนวนสมาชิกที่สามารถรองรองได้' },
        { key: 'act_device', label: 'อุปกรณ์ที่สามารถใช้งานภายในห้อง' },
        { key: 'btn-edit', label: '' },
        { key: 'btn-delete', label: '' }
      ],
      productItems: [
        { name_room: 'หยาง-กาว อาคาร1', type_room: 'ห้องประชุม', num_member: '100', act_device: '-' }
      ]
    }
  }
}
</script>
<style>
</style>
