<template>
  <div>
    <b-container>
      <b-row>
        <b-col>
          <div class="mt-3">ชื่อห้อง:</div>
          <div>
            <b-form-select v-model="name" @change="getRooms">
              <option
                v-for="(option, idx) in options.rooms"
                :key="idx"
                :value="option._id"
              >
                {{ option.name }}
              </option>
            </b-form-select>
          </div>
        </b-col>
        <b-col>
          <div class="mt-3">อาคาร:</div>
          <div>
            <b-form-input v-model="buildings" disabled> </b-form-input>
          </div>
        </b-col>
      </b-row>
      {{ name.value }}
      <b-row>
        <b-col>
          <div class="mt-3">ประเภทห้อง :</div>
          <div>
            <b-form-input v-model="typerooms" disabled> </b-form-input>
          </div>
        </b-col>
        <b-col>
          <div class="mt-3">คณะ :</div>
          <div>
            <div>
              <b-form-input v-model="buildings" disabled> </b-form-input>
            </div>
          </div>
        </b-col>
      </b-row>
      <b-row>
        <b-col>
          <div class="mt-3">ความจุ:</div>
          <div>
            <div>
              <b-form-input v-model="capacity" disabled> </b-form-input>
            </div>
          </div>
        </b-col>
        <b-col>
          <div class="mt-3">ชั้น:</div>
          <div>
            <div>
              <b-form-input v-model="floor" disabled> </b-form-input>
            </div>
          </div>
        </b-col>
      </b-row>
    </b-container>
  </div>
</template>
<script>
import { getBuilding } from '../service/building'
import { getRooms } from '../service/room'
export default {
  data () {
    return {
      name: '',
      buildings: '',
      typerooms: '',
      selected: null,
      options: [],
      floor: '',
      capacity: ''
    }
  },
  methods: {
    getBuildings () {
      const institude = JSON.parse(localStorage.getItem('institute'))
      getBuilding(institude).then((response) => {
        this.options = response.data[0]
        console.log(this.options)
        this.buildings = response.data[0].institute.name
      })
    },
    getRooms () {
      getRooms(this.name).then((response) => {
        console.log(this.name)
        localStorage.setItem('roomId', this.name)
        this.capacity = response.data.capacity
        this.floor = response.data.floor
        this.typerooms = response.data.typeRoom[0]
      })
    }
  },
  computed: {},

  mounted () {
    this.getBuildings()
  }
}
</script>
<style></style>
