<template lang="">
  <div>
    <b-container>
      <b-row>
        <b-col>
          <b-card
            title="ห้องประชุม หลิวเหลียน"
            img-src="https://picsum.photos/600/300/?image=6"
            img-alt="Image"
            img-top
            tag="article"
            style="max-width: 20rem"
            class="mb-2"
          >
            <table style="width: 100%; table-layout: fixed">
              <tbody>
                <tr>
                  <td>
                    <div style="text-align: left; font-weight: 500">ชั้น</div>
                  </td>
                  <td>
                    <div
                      style="text-align: left; width: 80px; white-space: nowrap"
                    >
                      3
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div style="text-align: left; font-weight: 500">
                      ความจุที่นั่ง
                    </div>
                  </td>
                  <td>
                    <div style="text-align: left; white-space: nowrap">100</div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div style="text-align: left; font-weight: 500">
                      เวลาเปิด
                    </div>
                  </td>
                  <td>
                    <div style="text-align: left">08:30 - 16:30 น.</div>
                  </td>
                </tr>
              </tbody>
            </table>
            <b-row align-h="center">
              <b-button  router-link to="/booking" block type="submit" variant="primary" class="m-2"
                >จอง</b-button
              >
            </b-row>
          </b-card>
        </b-col>
                <b-col>
          <b-card
            title="ห้องประชุม หยาง-ถาว"
            img-src="https://picsum.photos/600/300/?image=1"
            img-alt="Image"
            img-top
            tag="article"
            style="max-width: 20rem"
            class="mb-2"
          >
            <table style="width: 100%; table-layout: fixed">
              <tbody>
                <tr>
                  <td>
                    <div style="text-align: left; font-weight: 500">ชั้น</div>
                  </td>
                  <td>
                    <div
                      style="text-align: left; width: 80px; white-space: nowrap"
                    >
                      3
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div style="text-align: left; font-weight: 500">
                      ความจุที่นั่ง
                    </div>
                  </td>
                  <td>
                    <div style="text-align: left; white-space: nowrap">100</div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div style="text-align: left; font-weight: 500">
                      เวลาเปิด
                    </div>
                  </td>
                  <td>
                    <div style="text-align: left">08:30 - 16:30 น.</div>
                  </td>
                </tr>
              </tbody>
            </table>
            <b-row align-h="center">
              <b-button router-link to="/booking" block type="submit" variant="primary" class="m-2"
                >จอง</b-button
              >
            </b-row>
          </b-card>
        </b-col>
      </b-row>
            <b-row>
        <b-col>
          <b-card
            title="ห้องประชุม นานัส"
            img-src="https://picsum.photos/600/300/?image=10"
            img-alt="Image"
            img-top
            tag="article"
            style="max-width: 20rem"
            class="mb-2"
          >
            <table style="width: 100%; table-layout: fixed">
              <tbody>
                <tr>
                  <td>
                    <div style="text-align: left; font-weight: 500">ชั้น</div>
                  </td>
                  <td>
                    <div
                      style="text-align: left; width: 80px; white-space: nowrap"
                    >
                      3
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div style="text-align: left; font-weight: 500">
                      ความจุที่นั่ง
                    </div>
                  </td>
                  <td>
                    <div style="text-align: left; white-space: nowrap">200</div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div style="text-align: left; font-weight: 500">
                      เวลาเปิด
                    </div>
                  </td>
                  <td>
                    <div style="text-align: left">08:30 - 16:30 น.</div>
                  </td>
                </tr>
              </tbody>
            </table>
            <b-row align-h="center">
              <b-button router-link to="/booking" block type="submit" variant="primary" class="m-2"
                >จอง</b-button
              >
            </b-row>
          </b-card>
        </b-col>
                <b-col>
          <b-card
            title="ห้องประชุม ซาน-ถัวร์"
            img-src="https://picsum.photos/600/300/?image=7"
            img-alt="Image"
            img-top
            tag="article"
            style="max-width: 20rem"
            class="mb-2"
          >
            <table style="width: 100%; table-layout: fixed">
              <tbody>
                <tr>
                  <td>
                    <div style="text-align: left; font-weight: 500">ชั้น</div>
                  </td>
                  <td>
                    <div
                      style="text-align: left; width: 80px; white-space: nowrap"
                    >
                      5
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div style="text-align: left; font-weight: 500">
                      ความจุที่นั่ง
                    </div>
                  </td>
                  <td>
                    <div style="text-align: left; white-space: nowrap">20</div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div style="text-align: left; font-weight: 500">
                      เวลาเปิด
                    </div>
                  </td>
                  <td>
                    <div style="text-align: left">08:30 - 16:30 น.</div>
                  </td>
                </tr>
              </tbody>
            </table>
            <b-row align-h="center">
              <b-button router-link to="/booking" block type="submit" variant="primary" class="m-2"
                >จอง</b-button
              >
            </b-row>
          </b-card>
        </b-col>
      </b-row>
    </b-container>
  </div>
</template>

<script>
export default {}
</script>
<style lang=""></style>
