<template>
  <div>
    <b-container fluid>
      <sidebar-menu />
      <b-row>
        <b-col>
          <b-table :items="productItems" :fields="fields">
            <template #cell(btn-edit)="{}">
              <div>
                <b-button id="show-btn" @click="showModal" variant="primary"
                  >แก้ไขข้อมูล</b-button
                >

                <b-modal ref="my-modal" hide-footer title="แก้ไขข้อมูล">
                  <div>
                    <b-container>
                      <b-row>
                        <b-col>
                          <b-form-group
                            label-cols="5"
                            label-cols-lg="3"
                            label-size="sm"
                            label="รายชื่อผู้พิจารณา"
                            label-for="input-sm"
                          >
                            <b-form-input
                              id="input-sm"
                              size="sm"
                            ></b-form-input>
                          </b-form-group>
                          <b-form-group
                            label-cols="5"
                            label-cols-lg="3"
                            label-size="sm"
                            label="ชื่อห้อง"
                            label-for="input-sm"
                          >
                            <b-form-input
                              id="input-sm"
                              size="sm"
                            ></b-form-input>
                          </b-form-group>
                        </b-col>
                      </b-row>
                      <b-row>
                        <b-col>
                          <b-form-group
                            label-cols="5"
                            label-cols-lg="3"
                            label-size="sm"
                            label="ตึก/ชั้น"
                            label-for="input-sm"
                          >
                            <b-form-input
                              id="input-sm"
                              size="sm"
                            ></b-form-input>
                          </b-form-group>
                        </b-col>
                      </b-row>
                      <b-row>
                        <b-col>
                          <b-form-group
                            label-cols="5"
                            label-cols-lg="3"
                            label-size="sm"
                            label="ประเภทห้อง"
                            label-for="input-sm"
                          >
                            <b-form-input
                              id="input-sm"
                              size="sm"
                            ></b-form-input>
                          </b-form-group>
                        </b-col>
                      </b-row>
                      <v-form>
                        <div>
                          <b-row align="right">
                            <b-col class="text-right">
                              <b-button
                                class="mt-3"
                                variant="primary"
                                block
                                @click="hideModal"
                                >ยืนยัน</b-button
                              >
                              <b-button
                                class="mt-3"
                                variant="danger"
                                block
                                @click="toggleModal"
                                >ยกเลิก</b-button
                              >
                            </b-col>
                          </b-row>
                        </div>
                      </v-form>
                    </b-container>
                  </div>
                </b-modal>
              </div>
            </template>
            <template #cell(btn-delete)="{ item }">
              <b-button pill variant="danger" @click="deleteProduct(item)"
                >ลบออกจากรายการ</b-button
              >
            </template>
          </b-table>
        </b-col>
      </b-row>
    </b-container>
    <b-row align="right">
      <b-col>
        <div>
          <b-button id="show-btn" @click="showModal" variant="success">เพิ่มข้อมูล</b-button>

          <b-modal ref="my-modal" hide-footer title="ข้อมูล">
            <div>
              <b-container>
                <b-row>
                  <b-col>
                    <b-form-group
                      label-cols="5"
                      label-cols-lg="3"
                      label-size="sm"
                      label="รายชื่อผู้พิจารณา"
                      label-for="input-sm"
                    >
                      <b-form-input id="input-sm" size="sm"></b-form-input>
                    </b-form-group>
                    <b-form-group
                      label-cols="5"
                      label-cols-lg="3"
                      label-size="sm"
                      label="ชื่อห้อง"
                      label-for="input-sm"
                    >
                      <b-form-input id="input-sm" size="sm"></b-form-input>
                    </b-form-group>
                  </b-col>
                </b-row>
                <b-row>
                  <b-col>
                    <b-form-group
                      label-cols="5"
                      label-cols-lg="3"
                      label-size="sm"
                      label="ตึก/ชั้น"
                      label-for="input-sm"
                    >
                      <b-form-input id="input-sm" size="sm"></b-form-input>
                    </b-form-group>
                  </b-col>
                </b-row>
                <b-row>
                  <b-col>
                    <b-form-group
                      label-cols="5"
                      label-cols-lg="3"
                      label-size="sm"
                      label="ประเภทห้อง"
                      label-for="input-sm"
                    >
                      <b-form-input id="input-sm" size="sm"></b-form-input>
                    </b-form-group>
                  </b-col>
                </b-row>
                <v-form>
                  <div>
                    <b-row align="right">
                      <b-col class="text-right">
                        <b-button
                          class="mt-3"
                          variant="primary"
                          block
                          @click="hideModal"
                          >ยืนยัน</b-button
                        >
                        <b-button
                          class="mt-3"
                          variant="danger"
                          block
                          @click="toggleModal"
                          >ยกเลิก</b-button
                        >
                      </b-col>
                    </b-row>
                  </div>
                </v-form>
              </b-container>
            </div>
          </b-modal>
        </div>
      </b-col>
    </b-row>
  </div>
</template>
<script>
export default {
  methods: {
    showModal () {
      this.$refs['my-modal'].show()
    },
    hideModal () {
      this.$refs['my-modal'].hide()
    },
    toggleModal () {
      // We pass the ID of the button that we want to return focus to
      // when the modal has hidden
      this.$refs['my-modal'].toggle('#toggle-btn')
    }
  },
  data () {
    return {
      fields: [
        { key: 'number', label: 'ลำดับ' },
        { key: 'name1', label: 'รายชื่อผู้พิจารณา' },
        { key: 'name2', label: 'ชื่อห้อง' },
        { key: 'typeRoom', label: 'ตึก/ชั้น' },
        { key: 'capacity', label: 'ประเภทห้อง' },
        { key: 'btn-edit', label: '' },
        { key: 'btn-delete', label: '' }
      ],
      productItems: [
        {
          number: 1,
          name1: 'นุจรีย์ แสงรัตน์,Esther Howard',
          name2: 'หยาง-ถาว9',
          typeRoom: 'อาคาร 1 ชั้น 3',
          capacity: 'ห้องประชุม'
        },
        {
          number: 2,
          name1: 'นุจรีย์ แสงรัตน์, Ronald Richards',
          name2: 'หยาง-ถาว8',
          typeRoom: 'อาคาร 2 ชั้น 3',
          capacity: 'ห้องประชุม'
        },
        {
          number: 3,
          name1: 'นุจรีย์ แสงรัตน์,Esther Howard',
          name2: 'หยาง-ถาว7',
          typeRoom: 'อาคาร 3 ชั้น 3',
          capacity: 'ห้องประชุม'
        }
      ]
    }
  }
}
</script>
<style></style>
