<template>
  <div>
    <b-container fluid>
      <sidebar-menu />
      <b-row>
        <b-col>
          <b-table :items="productItems" :fields="fields">
            <template #cell(btn-edit)="{ item }">
              <b-button pill variant="success" @click="editProduct(item)">อนุมัติ</b-button>
            </template>
            <template #cell(btn-delete)="{ item }">
              <b-button pill variant="danger" @click="deleteProduct(item)"
                >ไม่อนุมัติ</b-button
              >
            </template>
             <template #cell(btn-detail)="{ }">
              <!-- <b-button pill variant="warning" @click="editProduct(item)">ดูรายละเอียดเพิ่มเติม</b-button> -->
              <b-button id="show-btn" @click="showModal" pill variant="info">ดูรายละเอียดเพิ่มเติม</b-button>

    <b-modal ref="my-modal" hide-footer title="ดูรายละเอียดเพิ่มเติม">
      <div>
        <b-container>
          <b-row>
            <b-col>
              <b-form-group
                label-cols="5"
                label-cols-lg="3"
                label-size="sm"
                label="ชื่อห้อง"
                label-for="input-sm"
              >
                <b-form-input id="input-sm" size="sm"></b-form-input>
              </b-form-group>
              <b-form-group
                label-cols="5"
                label-cols-lg="3"
                label-size="sm"
                label="ประเภทห้อง"
                label-for="input-sm"
              >
                <b-form-input id="input-sm" size="sm"></b-form-input>
              </b-form-group>
            </b-col>
          </b-row>
          <b-row>
            <b-col>
              <b-form-group
                label-cols="5"
                label-cols-lg="3"
                label-size="sm"
                label="ชื่อ"
                label-for="input-sm"
              >
                <b-form-input id="input-sm" size="sm"></b-form-input>
              </b-form-group>
            </b-col>
          </b-row>
          <b-row>
            <b-col>
              <b-form-group
                label-cols="5"
                label-cols-lg="3"
                label-size="sm"
                label="นามสกุล"
                label-for="input-sm"
              >
              <b-form-input id="input-sm" size="sm"></b-form-input>
              </b-form-group>
            </b-col>
          </b-row>
          <b-row>
            <b-col>
              <b-form-group
                label-cols="5"
                label-cols-lg="3"
                label-size="sm"
                label="เวลาจองเบื้องต้น"
                label-for="input-sm"
              >
              <b-form-input id="input-sm" size="sm"></b-form-input>
              </b-form-group>
            </b-col>
          </b-row>
          <b-row>
            <b-col>
              <b-form-group
                label-cols="5"
                label-cols-lg="3"
                label-size="sm"
                label="เวลาจองสิ้นสุด"
                label-for="input-sm"
              >
              <b-form-input id="input-sm" size="sm"></b-form-input>
              </b-form-group>
            </b-col>
          </b-row>
          <b-row>
            <b-col>
              <b-form-group
                label-cols="5"
                label-cols-lg="3"
                label-size="sm"
                label="วัตถุประสงค์การจอง"
                label-for="input-sm"
              >
              <b-form-input id="input-sm" size="sm"></b-form-input>
              </b-form-group>
            </b-col>
          </b-row>
          <b-row>
            <b-col>
              <b-form-group
                label-cols="5"
                label-cols-lg="3"
                label-size="sm"
                label="จำนวนที่รองรับได้"
                label-for="input-sm"
              >
              <b-form-input id="input-sm" size="sm"></b-form-input>
              </b-form-group>
            </b-col>
          </b-row>
          <b-row>
            <b-col>
              <b-form-group
                label-cols="5"
                label-cols-lg="3"
                label-size="sm"
                label="ชื่ออาคาร"
                label-for="input-sm"
              >
              <b-form-input id="input-sm" size="sm"></b-form-input>
              </b-form-group>
            </b-col>
          </b-row>
          <b-row>
            <b-col>
              <b-form-group
                label-cols="5"
                label-cols-lg="3"
                label-size="sm"
                label="วันที่ส่งคำร้องขอ"
                label-for="input-sm"
              >
              <b-form-input id="input-sm" size="sm"></b-form-input>
              </b-form-group>
            </b-col>
          </b-row>
          <b-row>
            <b-col>
              <b-form-group
                label-cols="5"
                label-cols-lg="3"
                label-size="sm"
                label="อุปกรณ์ที่ใช้งาน"
                label-for="input-sm"
              >
                <b-form-input id="input-sm" size="sm"></b-form-input>
              </b-form-group>
            </b-col>
          </b-row>
          <v-form>
        <div>
      <b-row align="right">
        <b-col >
      <b-button class="mt-3" variant="primary" block @click="hideModal"
        >อนุมัติ</b-button
      >
      <b-button
        class="mt-3"
        variant="danger"
        block
        @click="toggleModal"
        >ไม่อนุมัติ</b-button
      >
      </b-col>
      </b-row>
        </div>
      </v-form>
        </b-container>
      </div>
    </b-modal>
            </template>
          </b-table>
        </b-col>
      </b-row>
    </b-container>
  </div>
</template>

<script>

export default {
  methods: {
    showModal () {
      this.$refs['my-modal'].show()
    },
    hideModal () {
      this.$refs['my-modal'].hide()
    },
    toggleModal () {
      // We pass the ID of the button that we want to return focus to
      // when the modal has hidden
      this.$refs['my-modal'].toggle('#toggle-btn')
    }
  },
  data () {
    return {
      fields: [
        { key: 'number', label: 'ลำดับ' },
        { key: 'name1', label: 'ชื่ออาคาร' },
        { key: 'name2', label: 'ชื่อห้อง' },
        { key: 'typeRoom', label: 'ประเภทห้อง' },
        { key: 'capacity', label: 'จำนวนที่รองรับ' },
        { key: 'name3', label: 'ชื่อ-นามสกุล' },
        { key: 'date', label: 'วันที่ส่งคำร้อง' },
        { key: 'btn-edit', label: '' },
        { key: 'btn-delete', label: '' },
        { key: 'btn-detail', label: '' }
      ],
      productItems: [
        { number: 1, name1: 'อาคาร1', name2: 'หยาง-ถาว', typeRoom: 'ห้องประชุม', capacity: 100, name3: 'นิธิภัทร ลิขิตวัฒนกิจ', date: '12 มค 2565' }
      ]
    }
  }
}
</script>
<style>

</style>
