<template>
  <div>
    <b-container fluid>
      <br />
      <br />
      <sidebar-menu />
      <div>
        <h5>สถานะการจอง</h5>
      </div>
      <b-row>
        <b-col>
          <b-table :items="FormBooing" :fields="fields">
            <!-- <template #cell(btn-edit)="{ item }">
              <lable class="v-label-yellow" @click="editProduct(item)"
                >รอการอนุมัติ</lable
              >
            </template>
            <template #cell(btn-delete)="{ item }">
              <b-button pill variant="danger" @click="deleteProduct(item)"
                >ยกเลิก</b-button
              >
            </template> -->
            <template #cell(operators)="{ item }">
              <b-button
                @click="deleteRoomReservationForm(item)"
                class="ml-1"
                variant="danger"
                >ลบ</b-button
              >
            </template>
          </b-table>
        </b-col>
      </b-row>
    </b-container>
  </div>
</template>
<script>
import { getRoomReservationFormsByUser, deleteRoomReservationForm } from '../service/roomreservationform'
export default {
  methods: {
    getRoomReservationFormsByUser () {
      const userid = JSON.parse(localStorage.getItem('user'))
      getRoomReservationFormsByUser(userid._id).then((Response) => {
        this.FormBooing = Response.data
        console.log(Response.data)
      })
    },
    deleteRoomReservationForm (item) {
      deleteRoomReservationForm(item._id).then((Response) => {
        this.getRoomReservationFormsByUser()
        console.log(Response.data)
      })
    }
  },
  data () {
    return {
      fields: [
        { key: 'room.name', label: 'ชื่อห้อง/ตึก' },
        { key: 'user[0].name', label: 'ชื่อ' },
        { key: 'user[0].surname', label: 'นามสกุล' },
        { key: 'startDate', label: 'วันที่-เวลาเริ่มต้น' },
        { key: 'endDate', label: 'วันที่-เวลาสิ้นสุด' },
        { key: 'item', label: 'อุปกรณ์' },
        { key: 'operators', label: 'กระบวนการ' }
      ],
      user_name: '',
      FormBooing: [],
      selectedItem: null
    }
  },

  mounted () {
    // this.getUser()
    this.getRoomReservationFormsByUser()
  }
}
</script>
<style>
.v-label-yellow {
  color: rgb(248, 159, 42);
  font-weight: bolder;
}
</style>
