<template>
  <div>
    <b-container fluid>
      <sidebar-menu />
      <b-row>
        <b-col>
          <b-table :items="instituteUser" :fields="fields">
            <template #cell(btn-edit)="{ institute }">
              <b-button pill variant="primary" @click="editInstitute(institute)"
                >แก้ไขข้อมูล</b-button
              >
            </template>
            <template #cell(btn-delete)="{ institute }">
              <b-button
                pill
                variant="danger"
                @click="deleteInstitute(institute)"
                >ลบออกจากรายการ</b-button
              >
            </template>
          </b-table>
        </b-col>
      </b-row>
    </b-container>
    <b-row>
      <b-col class="text-right">
        <InstituteForm
          :institute="selectedItem"
          ref="InstituteForm"
          @save="saveInstitute"
        ></InstituteForm>
      </b-col>
    </b-row>
  </div>
</template>
<script>
import SidebarMenu from '../../components/Sidebar-menu.vue'
import axios from 'axios'
import InstituteForm from './InstituteForm.vue'
export default {
  components: {
    SidebarMenu,
    InstituteForm
  },
  methods: {
    saveInstitute (institute) {
      console.log('Submit', institute)
      if (institute.id === '') {
        // Add New
        axios.post('http://localhost:3000/institutes', institute).then(
          function (response) {
            this.getInstitutes()
          }.bind(this)
        )
      } else {
        // Update
        axios
          .put('http://localhost:3000/institutes/' + institute.id_, institute)
          .then(
            function (response) {
              this.getInstitute()
            }.bind(this)
          )
      }
    },
    deleteInstitute (institute) {
      axios.delete('http://localhost:3000/institutes/' + institute.id_).then(
        function (response) {
          this.getInstitute()
        }.bind(this)
      )
    },
    editInstitute (institute) {
      this.selectedItem = JSON.parse(JSON.stringify(institute))
      this.$nextTick(() => {
        this.$refs.instituteForm.show()
      })
    },
    getInstitute () {
      const self = this
      axios.get('http://localhost:3000/institutes').then((response) => {
        console.log(response)
        self.instituteUser = response.data
      }).bind(this)
    }
  },
  data () {
    return {
      fields: [
        { key: '_id', label: 'รหัสหน่วยงาน' },
        { key: 'name', label: 'ชื่อหน่วยงาน' },
        { key: 'btn-edit', label: '' },
        { key: 'btn-delete', label: '' }
      ],
      instituteUser: [],
      selectedItem: null
    }
  },
  mounted () {
    this.getInstitute()
  }
}
</script>
<style>
</style>
