<template>
  <div>
      <b-button @click="addNew" variant="success">เพิ่มข้อมูล</b-button>
    <b-modal
    id="modal-institute"
    ref="modalInstitute"
    title="ข้อมูล"
    ok-title="ยืนยัน"
    cancel-title="ยกเลิก"
    ok-variant="success"
    cancel-variant="danger"
    @show="showModal"
    @hidden="resetModal"
    @ok="handleOk"
    >
      <b-form @submit.stop.prevent="submit" @reset.stop.prevent="reset">
        <b-form-group
          id="form-group-institute-id"
          label="รหัสหน่วยงาน"
          label-for="institute-id"
        >
          <b-form-input
            type="text"
            id="institute-id"
            placeholder=_id
            v-model="form.id_institute"
        ></b-form-input>
        </b-form-group>

        <b-form-group
          id="form-group-institute-name"
          label="ชื่อหน่วยงาน"
          label-for="institute-name"
        >
          <b-form-input
            type="text"
            id="institute-name"
            placeholder="ชื่อหน่วยงาน"
            v-model="form.name"
          ></b-form-input>
        </b-form-group>
      </b-form>
       <b-card>
        <pre>
        {{ form }}
      </pre
        >
      </b-card>
    </b-modal>
  </div>
</template>

<script>
export default {
  prop: {
    institute: Object
  },
  data () {
    return {
      form: {
        user: '',
        name: ''
      },
      isAddNew: false
    }
  },
  computed: {
  },
  methods: {
    addNew () {
      this.isAddNew = true
      this.$nextTick(() => {
        this.show()
        this.isAddNew = false
      })
    },
    show () {
      this.$refs.modalInstitute.show()
    },
    submit () {
      const institute = JSON.parse(JSON.stringify(this.form))
      this.$emit('save', institute)
      this.reset()
    },
    reset () {
      this.form = {
        user: '',
        name: ''
      }
    },
    resetModal (evt) {
      this.reset()
    },
    showModal () {
      if (this.isAddNew) {
        this.reset()
      } else {
        // Edit
        this.form.user = this.institute.user
        this.form.name = this.institute.name
      }
    },
    handleOk (evt) {
      evt.preventDefault()
      if (!this.validateForm) return
      this.submit()
      this.$nextTick(() => {
        this.$bvModal.hide('modal-institute')
      })
    }
  }
}
</script>
