<template>
  <div>
    <b-button @click="addNew" variant="success">เพิ่มข้อมูล</b-button>
    <b-modal
      id="modal-user"
      ref="modalUser"
      title="ข้อมูล"
      ok-title="ยืนยัน"
      cancel-title="ยกเลิก"
      ok-variant="success"
      cancel-variant="danger"
      @show="showModal"
      @hidden="resetModal"
      @ok="handleOk"
    >
      <b-form @submit.stop.prevent="submit" @reset.stop.prevent="reset">
        <b-form-group
          id="form-group-user-name"
          label="ชื่อ-นามสกุลผู้ใช้"
          label-for="user-name"
        >
          <b-form-input
            type="text"
            id="user-name"
            v-model="form.name"
          ></b-form-input>
        </b-form-group>

        <b-form-group
          id="form-group-user-id"
          label="รหัสประจำตัวผู้ใช้"
          label-for="user-id"
        >
          <b-form-input
            type="text"
            id="user-id"
            v-model="form.id"
          ></b-form-input>
        </b-form-group>

        <b-form-group
          id="form-group-user-type"
          label="ประเภทของผู้ใช้"
          label-for="user-type"
        >
          <b-form-input
            type="text"
            id="user-type"
            v-model="form.type"
          ></b-form-input>
        </b-form-group>

        <b-form-group
          id="form-group-user-role"
          label="ตำแหน่ง"
          label-for="user-role"
        >
          <b-form-input
            type="text"
            id="user-role"
            v-model="form.role"
          ></b-form-input>
        </b-form-group>

        <b-form-group
          id="form-group-user-corps"
          label="คณะ"
          label-for="user-corps"
        >
          <b-form-input
            type="text"
            id="user-corps"
            v-model="form.corps"
          ></b-form-input>
        </b-form-group>

        <b-form-group
          id="form-group-user-telephone"
          label="เบอร์โทรศัพท์"
          label-for="user-telephone"
        >
          <b-form-input
            type="text"
            id="user-telephone"
            v-model="form.telephone"
          ></b-form-input>
        </b-form-group>
      </b-form>
      <b-card>
        <pre>
        {{ form }}
      </pre
        >
      </b-card>
    </b-modal>
  </div>
</template>

<script>
export default {
  prop: {
    institute: Object
  },
  data () {
    return {
      form: {
        id: '',
        name: '',
        surname: '',
        username: '',
        password: '',
        type: '',
        role: '',
        institute: '',
        telephone: ''
      },
      isAddNew: false
    }
  },
  computed: {},
  methods: {
    addNew () {
      this.isAddNew = true
      this.$nextTick(() => {
        this.show()
        this.isAddNew = false
      })
    },
    show () {
      this.$refs.modalUser.show()
    },
    submit () {
      const user = JSON.parse(JSON.stringify(this.form))
      this.$emit('save', user)
      this.reset()
    },
    reset () {
      this.form = {
        id: '',
        name: '',
        surname: '',
        username: '',
        password: '',
        type: '',
        role: '',
        institute: '',
        telephone: ''
      }
    },
    resetModal (evt) {
      this.reset()
    },
    showModal () {
      if (this.isAddNew) {
        this.reset()
      } else {
        // Edit
        this.form.id = this.user.id
        this.form.name = this.user.name
        this.form.surname = this.user.surname
        this.form.username = this.user.username
        this.form.password = this.user.password
        this.form.type = this.user.type
        this.form.role = this.user.role
        this.form.institute = this.user.institute
        this.form.telephone = this.user.telephone
      }
    },
    handleOk (evt) {
      evt.preventDefault()
      if (!this.validateForm) return
      this.submit()
      this.$nextTick(() => {
        this.$bvModal.hide('modal-user')
      })
    }
  }
}
</script>
