<template>
  <div>
    <b-container fluid>
      <sidebar-menu />
      <b-row>
        <b-col>
          <b-table :items="listUser" :fields="fields">
            <template #cell(btn-edit)="{ user }">
              <b-button pill variant="primary" @click="editProduct(user)">แก้ไขข้อมูล</b-button>
            </template>
            <template #cell(btn-delete)="{ user }">
              <b-button pill variant="danger" @click="deleteProduct(user)"
                >ลบออกจากรายการ</b-button
              >
            </template>
          </b-table>
        </b-col>
      </b-row>
    </b-container>
     <b-row>
        <b-col class="text-right">
           <UserForm
          :institute="selectedItem"
          ref="UserForm"
          @save="saveUser"
        ></UserForm>
        </b-col>
      </b-row>
  </div>
</template>
<script>
import SidebarMenu from '../../components/Sidebar-menu.vue'
import axios from 'axios'
import UserForm from './UserForm.vue'

export default {
  name: 'User',
  components: {
    SidebarMenu,
    UserForm
  },
  methods: {
    saveUser (user) {
      console.log('Submit', user)
      if (user.id === '') {
        // Add New
        axios.post('http://localhost:3000/users', user).then(
          function (response) {
            this.getUser()
          }.bind(this)
        )
      } else {
        // Update
        axios
          .put('http://localhost:3000/users/' + user.id_, user)
          .then(
            function (response) {
              this.getUser()
            }.bind(this)
          )
      }
    },
    deleteUser (user) {
      axios.delete('http://localhost:3000/users/' + user.id_).then(
        function (response) {
          this.getUser()
        }.bind(this)
      )
    },
    editUser (user) {
      this.selectedPerson = JSON.parse(JSON.stringify(user))
      this.$nextTick(() => {
        this.$refs.userForm.show()
      })
    },
    getUser () {
      const self = this
      axios.get('http://localhost:3000/users').then((response) => {
        console.log(response)
        self.listUser = response.data
      }).bind(this)
    }
  },
  data () {
    return {
      fields: [
        { key: 'name', label: 'ชื่อ-นามสกุลของผู้ใช้' },
        { key: 'surname', label: '' },
        { key: 'username', label: 'รหัสประจำตัวของผู้ใช้' },
        { key: 'password', label: '' },
        { key: 'type', label: 'ประเภทของผู้ใช้' },
        { key: 'role', label: 'ตำแหน่ง' },
        { key: 'institute', label: 'คณะ' },
        { key: 'telephone', label: 'เบอร์โทรศัพท์' },
        { key: 'btn-edit', label: '' },
        { key: 'btn-delete', label: '' }
      ],
      listUser: [],
      selectedItem: null
    }
  },
  mounted () {
    this.getUser()
  }
}
</script>
<style>
</style>
